<!DOCTYPE html>

<html lang="en">
<head>
    <title>Bantuan Aplikasi Cek Cuaca</title>
    <link rel="icon" href="/img/cuaca.png" />
    <link rel="stylesheet" href="/css/styles.css" />
    <script src="/js/app.js"></script>
</head>
    <body>
    <div class="main-content">
        {{>header}}
        <p>Aplikasi Cek Cuaca ini dibuat untuk membantu pengguna dalam mendapatkan informasi cuaca terkini di berbagai lokasi. Dengan antarmuka yang sederhana dan mudah digunakan, pengguna dapat dengan cepat mengecek kondisi cuaca seperti suhu, kelembapan, dan perkiraan cuaca harian.</p>
        <img class="portrait" src="/img/cuaca.png" alt="Gambar Cuaca">
    </div>
    {{>footer}}
    </body>
</html>